# General
1m5.version=${project.version}
1m5.version.build=162
1m5.systemTimeZone=UTC
1m5.env=dev
#1m5.peers.db.cleanOnRestart=true

# Network

## Clearnet
###### Session Configs: Colon-delimited setup of sessions each with comma-delimited parameters
###### Configuration string format for api: name, api, port
###### Configuration string format for proxy: name, proxy, port
###### Configuration string format for web: name, local, port, launch on start, single-page application, data handler class, resource directory, use socket, web socket adapter class
settings.network.clearnet.sessionConfigs=1m5-api,api,2018

