# General
1m5.version=${project.version}
1m5.version.build=001
1m5.systemTimeZone=UTC
#1m5.peers.db.cleanOnRestart=true

# Monetary

## Bitcoin
settings.network.btc.local=true

## DEX
settings.network.dex.local=true

## Komodo
settings.network.kmd.local=true

## Monero
settings.network.xmr.local=true

# Network

## Clearnet
###### Session Configs: Colon-delimited setup of sessions each with comma-delimited parameters
###### Configuration string format for api: name, api, port
###### Configuration string format for proxy: name, proxy, port
###### Configuration string format for web: name, local, port, launch on start, single-page application, data handler class, resource directory, use socket, web socket adapter class
settings.network.clearnet.sessionConfigs=1m5-api,api,2018

## TOR
settings.network.tor.routerEmbedded=false

## I2P
settings.network.i2p.routerEmbedded=true
