# General
1m5.version=${project.version}
1m5.version.build=001
1m5.systemTimeZone=UTC
#1m5.peers.db.cleanOnRestart=true

# Monetary

## Bitcoin
settings.network.btc.local=true

## DEX
settings.network.dex.local=true

## Komodo
settings.network.kmd.local=true

## Monero
settings.network.xmr.local=true

# Network

## TOR
settings.network.tor.routerEmbedded=false

## I2P
settings.network.i2p.routerEmbedded=true
