# General
1m5.version=${project.version}
1m5.version.build=001
1m5.systemTimeZone=UTC

# Bisq
1m5.bsq.enabled=false
1m5.bsq.local=true
1m5.bsq.port=8888
1m5.bsq.tor=true

# Bitcoin
1m5.btc.enabled=false
1m5.btc.local=true
1m5.btc.port=4444
1m5.btc.tor=true

# Komodo
1m5.kmd.enabled=false

# Monero
1m5.xmr.enabled=false
1m5.xmr.local=true
1m5.xmr.port=8081
1m5.xmr.i2p=true
1m5.xmr.tor=true
1m5.xmr.pref=i2p
