# General
1m5.version=${project.version}
1m5.version.build=001
1m5.systemTimeZone=UTC

# Bus
1m5.bus.maxMessagesCachedMultiplier=10

# KeyRingService
## KeyRing implementations supported comma-delimited
1m5.keyring.providers=io.onemfive.core.keyring.OpenPGPKeyRing

# Network
## Clearnet
1m5.clearnet.enabled=true

## Tor
1m5.tor.enabled=true

## I2P
1m5.i2p.enabled=true
1m5.i2p.seeds=${i2p.seeds}
1m5.i2p.banned=${i2p.banned}

### Min Peers Tracked - the point at which Discovery process goes into 'hyper' mode.
1m5.i2p.MinPT=${i2p.MinPT}

## Max Peers Tracked - the total number of Peers to attempt to maintain knowledge of
1m5.i2p.MaxPT=${i2p.MaxPT}

## Max Peers Sent - Maximum number of peers to send in a peer list (the bigger a datagram, the less chance of it getting through).
1m5.i2p.MaxPS=${i2p.MaxPS}

## Max Acknowledgments Tracked
1m5.i2p.MaxAT=${i2p.MaxAT}

## Update Interval - the minutes between Discovery process
onemfive.sensors.UI=${onemfive.sensors.UI}

## Reliable Peer Min Acks
onemfive.sensors.MinAckRP=${onemfive.sensors.MinAckRP}

## Super Reliable Peer Min Acks
onemfive.sensors.MinAckSRP=${onemfive.sensors.MinAckSRP}

## Bluetooth
1m5.bluetooth.enabled=true

## Bluetooth LE
1m5.bluetoothle.enabled=false

## Wifi-Direct
1m5.wifidirect.enabled=false

## Full Spectrum (GNU Radio)
1m5.fullspectrum.enabled=false

## Satellite
1m5.satellite.enabled=false

## LiFi
1m5.lifi.enabled=false



# Sensor-Specific Configurations (network|value format)

## Seeds
onemfive.sensors.seeds=${onemfive.sensors.seeds}

## Banned
onemfive.sensors.banned=${onemfive.sensors.banned}

## Clean DB on Restart
onemfive.sensors.db.cleanOnRestart=${onemfive.sensors.db.cleanOnRestart}

# Bisq
1m5.bsq.enabled=false
1m5.bsq.local=true
1m5.bsq.port=8888
1m5.bsq.tor=true

# Bitcoin
1m5.btc.enabled=false
1m5.btc.local=true
1m5.btc.port=4444
1m5.btc.tor=true

# Komodo
1m5.kmd.enabled=false

# Monero
1m5.xmr.enabled=false
1m5.xmr.local=true
1m5.xmr.port=8081
1m5.xmr.i2p=true
1m5.xmr.tor=true
1m5.xmr.pref=i2p
